*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: capitalize;  
transition: .2s linear;
}
header{
 position: fixed;
 top: 0;left: 0;right: 0;
 background: #fff;
 padding: 2rem 9%;
 display: flex;
align-items: center;
justify-content: space-between;
 

}

html{
    font-size: 62.5;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section{
    padding: 2rem ,9%;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    /* background: url(../Flower\ Asset/pngwing.png) no-repeat;  */
    background: cover;
    background-position: center;
}
header{
    background-color: rgba(229, 84, 115, 0.10);
}
/* banner */
.banner{
    padding: 50px 30px 30px 150px;
}