body{
    font-family: 'lato', sans-serif;
    font-family: 'open sans' sans-serif;
}

.nav-title{
    
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
font-family: Lato;
font-size: 60px;
font-style: normal;
font-weight: 800;
line-height: normal;

} 


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: capitalize;  

}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    /* background: url(../Flower\ Asset/pngwing.png) no-repeat;  */
    background: cover;
    background-position: center;
}
header{
    width: 1920px;
height: 850px;
flex-shrink: 0;
    background-color: rgba(229, 84, 115, 0.10);
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
/* banner */
.banner{
    padding: 50px 30px 30px 150px;
    /* display: flex; */
width: 634px;
flex-direction: column;
flex-shrink: 0;
display: flex;

}
.button{
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
align-items: flex-start;gap: 10px;
display: inline-flex;


color: white;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.banner image
{
    padding: 30 30 30 150 ;
    
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}

.secondbanner {
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.para{

    display: flex;
width: 594px;
flex-direction: column;
flex-shrink: 0;

    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.secondbanner button{
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;

border-radius: 8px;
background: #E55473;
}
main{
    width: 1922px;
height: 620px;
flex-shrink: 0;

border-radius: 8px;
background: rgba(229, 84, 115, 0.05);

} 
.insta{
    color: #272727;
text-align: center;
/* font-family: Lato; */
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;


}
.parag {
    display: flex;
width: 594px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

section{
    width: 1920px;
height: 4867px;
}
.instapicture{
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}
.dealstext{
    
}
style p{
    width: 1440px;
height: 449px;
flex-shrink: 0;
}
.deal{
    width: 1440px;
height: 449px;
flex-shrink: 0;
}
footer{
    width: 1922px;
height: 449px;
flex-shrink: 0;

background: #111010;
}
.Flowershop1 {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
   
}

.parashop{
display: flex;
width: 625px;
flex-direction: column;
flex-shrink: 0;
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.link {
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}